/** é para resetar o arquivo, geralmente usamos apenas as duas primeiras propriedades, porém como iremos usar uma game-board, vamos usar o box-sizing: border-box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aqui estamos definindo as dimensões do game-board, usamos o position: relativo para que os elementos dentro da game-board respeitem as delimitações dela*/
.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 207, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

/*Position absolute é para que nenhuma imagem interfira na outra, o bottom: 0 coloca o tubo (pipe) colado na parte de
baixo do game-board. A propriedade right vai colocar o objeto na margem direita e o valor passado dentro dela vai ser
quanto esse objeto vai se afastar da direita*/
.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.nonato {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 4s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;

}

.score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 20PX;
    font-family: 'Press Start 2P', cursive;
    z-index: 9999;
}

.game-over {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: #FF0039;
    font-family: 'Super Plumber Brothers', sans-serif;
    text-shadow: 3px 3px #000;
    margin: 0;
    z-index: 9999;
}

.game-over.show {
    display: block;
}


@font-face {
    font-family: 'Super Plumber Brothers';
    src: url("./fonte/Super\ Mario\ Bros.\ 2.ttf");
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    color: #FF0039;
    font-family: 'Super Plumber Brothers', sans-serif;
    text-shadow: 3px 3px #000;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

.start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}

.instrucao {
    position: absolute;
    top: calc(50% + 110px);
    left: calc(50% - 280px);
    color: #000000;
    text-shadow: 3px 3px  #f00;
    display: inline-block;
    white-space: nowrap;
  }

  .footer {
    margin-top: 15px;
  }

  .footer p {
      font-size: 20px;
      font-family: Arial, sans-serif;
      color: #282828;
      margin: 0;
      padding: 0;
      margin: 20 0 0 0;
  }
  
  .footer a {
    color: rgb(128, 124, 124);
    text-decoration: none;
    cursor: pointer;
  }

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@media screen and (max-width: 768px) {
    .pipe {
        width: 50px;
        position: absolute;
        bottom: 0;
        width: 80px;
        animation: pipe-animation 5s infinite linear;
    }
}

.nonato {
    width: 150px;
    position: absolute;
    bottom: -10px;
}

.clouds {
    width: 500px;
}

.jump {
    animation: jump 500ms ease-out;

}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    70% {
        bottom: 180px;
    }

    80% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}